#nav-bar{
    background-color: #ccd9ad;
    width: 100%;
    margin: 0%;
}
#AP-logo{
    width: 8em;
    vertical-align: middle;
    margin: 1%;
}
#social{
    float: right;
    margin: 10px 10px;
    vertical-align: middle;
}
a{
    padding-left: 5px;
    padding-right: 5px;
    vertical-align: middle;
}
#banner{
    max-width: 50%;
    margin: 0%;
}