<div class="first card" id="first-card">
    <div id="nav-bar">
        <img src="assets/argprograma_logo.png" alt="Argentina Programa - Logo">
        <a href="https://www.linkedin.com"><i class="fa-brands fa-linkedin" style="color: #ccd9ad;"></i></a>
        <a href="https://www.github.com"><i class="fa-brands fa-github" style="color: #ccd9ad;"></i></a>
        <a href="mailto:daiana.ailinmonaco@gmail.com"><i class="fa-solid fa-envelope" style="color: #ccd9ad;"></i></a>
    </div>
    <div id="banner">
        <h1>{{miPortfolio.name}}</h1>
        <img [src]="miPortfolio.banner">
    </div>
</div>