<div class="second-card" id="second-card">
    <div id="profile-pic">
    </div>
    <div id="my-name">
        <h1>Daiana Ailin Monaco</h1>
    </div>
    <div id="my-title">
        <h2>Full Stack Web Developer Jr.</h2>
    </div>
    <div id="about-me">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum nihil autem nobis nostrum perspiciatis et doloribus impedit eius incidunt dolor at debitis ex amet deserunt expedita nam, dolore cupiditate saepe!
        Reprehenderit quaerat expedita adipisci! Nihil iusto dolore et voluptatum labore ducimus quam officia debitis reiciendis harum, sint nesciunt, tempore, illum temporibus. Natus nobis repellat tenetur reiciendis, expedita eveniet adipisci vero!
        Sit hic veniam modi vitae architecto accusamus saepe deserunt pariatur et. Atque omnis dolore illo facere suscipit quod? Sapiente laborum sunt nihil voluptatem eaque voluptatum fuga odit! Iure, esse doloribus?</p>
    </div>
</div>