<div class="container" id="second-card">
    <div id="profile-pic">
        <img src="assets/mi_bitmoji.png" alt="">
    </div>
    <div id="my-name">
        <h1>{{ persona.nombre }}</h1>
    </div>
    <div id="my-title">
        <h2>Full Stack Web Developer Jr.</h2>
        <h3>Buenos Aires, Argentina</h3>
    </div>
    <div id="about-me">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente reiciendis, dolor dolore est expedita temporibus cupiditate porro doloremque, sit odit perspiciatis incidunt tempora deleniti quas libero provident labore, praesentium eligendi consectetur autem minus error illum et. Quidem recusandae blanditiis tenetur nisi, dignissimos ex? Laudantium molestiae hic ratione similique facilis amet.</p>
    </div>
</div>